.trainings-list {
	display: grid;
	height: 100vh;
	grid-auto-columns: 1fr;
	grid-auto-rows: auto 1fr;
	overflow: hidden;
	
	.header, .item {
		background: #eee;
		display: flex;
		flex-wrap: nowrap;
		align-items: flex-start;
		border-radius: 1em;
		padding: 10px;
	}

	.header {
		margin: 10px;
	}

	.trainings {
		margin: 10px;
		overflow-y: auto;
	}

	.list-header {
		padding: 5px;
		font-size: 1.2em;
		font-weight: normal;
	}

	.item {
		position: relative;
		margin-bottom: 10px;
		cursor: pointer;
	}
	
	.avatar {
		border: 1px solid lightseagreen;
		position: relative;
		border-radius: 25%;
		width: 100px;
		height: 100px;
		overflow: hidden;
		> img {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 120%;
			transform: translate(-50%, -50%);
		}
	}
	
	.details {
		margin: 5px 5px 5px 15px;
		flex: 1;
		position: relative;
	}	
	
	
	.info {
		font-size: 0.77em;
		margin-top: 5px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	
	.name {
		font-size: 1em;
	}

	.time {
		position: absolute;
		right: 0;
		padding-right: 10px;
	}

	.list {
		padding-bottom: 5px;

		&.today {
			.item {
				font-size: 1.2em;
				color: white;
				background-color: lightseagreen;
			}
		}

		&.pending {
			.item {
				border: 1px solid lightseagreen;
			}
		}

		&.finished {
			.item {
				color: lightslategrey;
			}
		}
	}
}